#title-text {
    font-size: 30px;
    color: #f2cc8f;
}

#input-data {
    padding: 10px;
    background-color: #eaeaea;
}

#btnGetData {
    color: white;
    padding: 10px;
    background-color: #344e41;
}

#active-cases {
    color: white;
    border-radius: 10px;
    background-color: #495057;
}

#active-cases-icon {
    font-size: 40px;
}

#new-cases {
    color: white;
    border-radius: 10px;
    background-color: #698aac;
}

#new-cases-icon {
    font-size: 40px;
}

#recovered-cases {
    color: white;
    border-radius: 10px;
    background-color: #68cca9;
}

#recovered-cases-icon {
    font-size: 40px;
}

#total-cases {
    color: white;
    border-radius: 10px;
    background-color: #9562be;
}

#total-cases-icon {
    font-size: 40px;
}

#total-deaths {
    color: white;
    border-radius: 10px;
    background-color: #b85f8b;
}

#total-deaths-icon {
    font-size: 40px;
}

#total-tests {
    color: white;
    border-radius: 10px;
    background-color: #9a8c98;
}

#total-tests-icon {
    font-size: 40px;
}